extends ./layout
block caloLinks
	- var n = 1
	while n < nCalos+ 1
		a(href='/calo'+n)
			| calo #{n++}
			|#{''}    
	br
block moreScripts
	script(type='text/javascript', src='/scripts/caloSummary.js')
block contents
	br
	center 
		h1 calo 
			calonum #{caloNum} 
			| summary plots
		a(href='/calo'+caloNum)
			|summary 
		a(href='/traces'+caloNum)
			|traces   
		a(href='/q'+caloNum)
			|q hist
	br
	center 
		|RUN 
		b#runNum
		|#{''} EVENT 
		b#eventNum
	br
	div#container.container
		div#histAmpl.plot
		div#histPed.plot
		div.clear