extends ./layout

block moreScripts
	script(type='text/javascript', src='/scripts/overview.js')

block contents
	center 
		h1 Tracker Test Stand Summary
	br
	center 
		|RUN 
		b#runNum
		|#{''} EVENT 
		b#eventNum
	div#container.container
		div#unpackingSuccess.plot
		div#numUnpackingErrors.plot
		div.clear
	div#container.container
		div#amc13EventSize.plot
		div#amc13TriggerNumber.plot
		div.clear
	div#container.container
		div#numDigits.plot
		div.clear
