extends ./layout

block moreScripts
	script(type='text/javascript', src='/scripts/plots.js')

block contents
	center 
		h1 overview
	br
	center 
		|RUN 
		b#runNum
		|#{''} EVENT 
		b#eventNum
	div#container.container
		div#tom.plot
		div#myDiv.plot
		div.clear

